<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docentes</title>
    <link rel="icon" href="../static/img/logoutn.ico">
    <link rel="stylesheet" href="../static/css/eprincipal.css">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

</head>
<body>
    <div>
        <div class="flex">
            <div class="logo">
                <img  src="../static/img/logoutnsolo01.jpeg" alt="Logo utn">
                <!-- <figcaption>Logo de la UTN</figcaption> -->
            </div>
            <h1>ciencia de materiales 2024</h1>
    
    
            <div class="session">
                <div class="logo">
                    <img  src="../static/img/logoutnsolo01.jpeg" alt="Logo utn">
                    <!-- <figcaption>Logo de la UTN</figcaption> -->
                </div>
            </div>
        
        </div>    

        
    </div>
    
    <main >
        <section class="miembro">
            <h2>Ing. Claudio Del Cármine</h2>
            <p>Email: claudiodelcarmine@hotmail.com</p>
            <p>Formación:</p>
            <ul>
                <li>Ingeniero Metalúrgico, Universidad Tecnológica Nacional, FRBA (1985).</li>
                <li>Posgrado en Siderurgia, Instituto Argentino de Siderurgia (1985).</li>
                <li>Profesor Adjunto Concursado en Ciencia de los Materiales, Ingeniería Industrial, UTN, FRBA.</li>
            </ul>
            <p>Publicaciones:</p>
            <ul>
                <li>Autor del libro “Escorias Siderúrgicas” (1985).</li>
            </ul>
        </section>
        <br>
        <section class="miembro">
            <h2>Ing. Diego Zalcman</h2>
            <p>Email: dfzalcman@frba.utn.edu.ar</p>
            <p>Formación:</p>
            <ul>
                <li>Ingeniero Metalúrgico, Universidad Tecnológica Nacional, FRBA (1999).</li>
                <li>Diplomatura en Gestión Integral de la Calidad, CQE (Certified Quality Engineer) de la ASQ, Instituto Tecnológico de Buenos Aires (2004).</li>
                <li>Profesor Adjunto en Ciencia de los Materiales, y Jefe del Laboratorio de Materiales del Depto. de Ingeniería Industrial, UTN, FRBA.</li>
            </ul>
            <p>Experiencia:</p>
            <ul>
                <li>Actualmente se desempeña como Responsable de Control de Calidad en Transportadora de Gas del Sur S.A.</li>
            </ul>
        </section>
      
        <section class="miembro">
            <h2>Ing. Diego Ruiz</h2>
            <p>Email: dpfruiz@sinectis.com.ar</p>
            <p>Formación:</p>
            <ul>
                <li>Ingeniero Mecánico, Universidad Tecnológica Nacional, FRBA (1996).</li>
                <li>Magíster en Ciencia y Tecnología de Materiales, CNEA (2004).</li>
                <li>Actualmente cursando la Especialización en Ingeniería en Calidad, UTN, FRBA.</li>
            </ul>
            <p>Experiencia:</p>
            <ul>
                <li>Jefe de Trabajos Prácticos en Ciencia de los Materiales, Ingeniería Industrial, y en Tecnología de la Fabricación, Ingeniería Mecánica, UTN, FRBA.</li>
                <li>Ingeniero de Calidad y Producción en empresas industriales, fundamentalmente del rubro metalmecánico.</li>
                <li>Se desempeña en el área de Desarrollo e Investigación en materiales (CNEA).</li>
            </ul>
        </section>
    </main>  
    <footer>
        <button onclick="window.location.href='../index.html'" class="btn-atras">Volver al Menú Principal</button>
        <p class="info">Pagina realizada para CAC Grupo 6</p>
    </footer>

</body>