<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Gym - Login</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <img src="../img/geoGIM.png" alt="Geo Gym Logo" class="logo">
        <h1>Geo Gym</h1>
    </header>

    <main>
        <img src="../img/gymsystem.png" alt="GYMSystem Logo" class="logo">
        <h2>GYMSystem</h2>
        <form id="form-login">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="admin-key" id="admin-key-label">Clave de Administrador:</label>
            <input type="password" id="admin-key" name="admin-key">
            
            <button type="submit">Iniciar Sesión</button>
        </form>
    </main>

    <script src="../js/login.js"></script>
</body>
</html>
