<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidad 01</title>
    <link rel="icon" href="../static/img/logoutn.ico">
    <link rel="stylesheet" href="../static/css/eprincipal.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div class="flex">
            <div class="logo">
                <img  src="../static/img/logoutnsolo01.jpeg" alt="Logo utn">
                <!-- <figcaption>Logo de la UTN</figcaption> -->
            </div>
            <h1>ciencia de materiales 2024</h1>
    
    
            <div class="session">
                <div class="logo">
                    <img  src="../static/img/logoutnsolo01.jpeg" alt="Logo utn">
                    <!-- <figcaption>Logo de la UTN</figcaption> -->
                </div>
            </div>
        
        </div>    

        
    </div>
    
    
        <main class="docentes">            
                        <article> 
                            <h2>  DESCRIPCIÓN DEL MODELO ATÓMICO DE RUTHERFORD-BOHR. OBSERVACIONES</h2>
                        </article>
                            <article><h3>1 – Modelo de Rutherford ratificado por Bohr.</h3>

                                <p>Partículas subatómicas en el núcleo: Protones (+) y Neutrones.</p>
                                <p>Los Electrones (-) giran alrededor del núcleo en órbitas precisas. Es imposible determinar la posición y momento de los e (Principio de incertidumbre de Heisemberg).</p>
                                <p>El electrón salta de una capa a otra de mayor energía, cuando vuelve a su órbita inicial desprende la energía sobrante en forma de fótón.</p>
                                
                            </article>
                            <article><h3>2 – ¿QUÉ SE ENTIENDE POR ELECTRONEGATIVIDAD Y ELECTROPOSITIVIDAD? CONSECUENCIAS</h3>

                                <p>El carácter electropositivo (metal) se presenta en aquellos elementos que tienden a ceder electrones, transformándose en cationes. Cuando en la última órbita de un átomo hay un solo electrón la estabilidad (por atracción del núcleo) es mínima, y por ende las posibilidades de que este electrón se pierda por la atracción de otro átomo son altas.</p>
                                <p>El carácter electronegativo (no metal) se presenta en aquellos elementos que tienden a captar electrones, transformándose en aniones. Cuando en la última órbita hay siete electrones, máxima cantidad de electrones antes del átomo inerte, la estabilidad del átomo es máxima y la fuerza residual del núcleo puede captar electrones de otro átomo.</p>
                                
                                
                                
                            </article>
                            <article> <h3>3 – ENUMERE Y EXPLIQUE BREVEMENTE LOS TIPOS DE VINCULACIONES ENTRE ÁTOMOS. JUSTIFIQUE LAS VINCULACIONES.</h3></article>
                                <p>Los átomos tienden a ser inertes, 8 electrones en su última órbita. Para obtener esto hay intercambio de electrones.</p>
                                <ol >
                                    <li>Enlaces Primarios o Fuertes:
                                        <ul>
                                            <li>Iónico</li>
                                            <li>Covalente</li>
                                            <li>Metálico</li>    
                                        </ul>                                  
                                    </li>
                    
                                    <li>Enlaces Secundarios o débiles:
                                        <ul >
                                            <li>Dipolo instantáneo</li>
                                            <li>Dipolo Permanente:
                                                <ul>
                                                    <li>Puente de hidrógeno   </li>
                                                </ul>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                </ol>
                                <article> <h4>ENLACES PRIMARIOS</h4></article>
                                    <article>
                                        <h5>Enlace Ionico</h5>
                                        
                                        
                                        <p>-Se da en elementos muy electronegativos y otros muy electropositivos.</p>
                                        <p>-Es duro y resistente.</p>
                                        <p>-No son conductores de calor.</p>
                                        <p>-Es aislante y no conductor de electricidad. Los electrones no circulan libremente. No hay espacios libres en la estructura para conducir los electrones.</p>
                                        <p>-Se da en Cesiones🡪Cede electrones.</p>
                                        <p>-Enlace eléctrico.</p>
                                        
                                        <p>Ca🡪Ca(2+)+2e(-)</p>
                                        <p>Cl2+2e(-)🡪Cl(-)</p>
                                    </article>
                                    <article>
                                        <h5>Enlace Covalente:</h5>
                                        <p>-Son aislantes, no tienen electrones libres que circulan</p>
                                        <p>-No son conductores de calor.</p>
                                        <p>-Enlace débil.</p>
                                        <p>-Se da compartición de electrones.</p>
                                        <p>-Enlace químico.</p>
                                        <h3>CH4 (Metano)</h3>
                                    </article>
                                    <article>
                                        <h5>Enlace Metálico</h5>
                                        <p>-En los metales no se ven Átomos sino Iones </p>
                                        <p>-Se forma una nube electrónica de electrones libres compartidos por toda la estructura </p>
                                        <p>-Uno de los enlaces de mayor estabilidad </p>
                                        <p>-En general duros, alto punto de fusión y ebullición </p>
                                        <p>-Todos los Iones de los metales son Cationes </p>
                                        <p>-Son conductores </p>
                                    
                                <h4>ENLACES MOLECULARES SECUNDARIOS</h4></article>
                    
                                    <article>
                                        <h5>VAN DERWAALS: </h5>
                                        <p>-Hay areas de cargas. Las cargas están repartidas en forma desigual aunque la carga total del átomo sea neutro.</p>
                                        <p>-Son átomos neutros pero hay concentración.</p>
                                        <p>-Es una unión física.</p>
                                        <p>-Es débil.</p>
                                        <p>-A pesar de que el átomo es neutro en el espacio y tiempo se producen concentraciones de cargas positivas o negativas que crean atracciones de otros electrones de otros átomos.</p>
                                    </article>
                                    <article>
                                        <h5>Enlace de dipolo oscilante o Transitorio</h5>
                                        <p>Es provocada por las condiciones del sistema, desaparecen luego que se restituyen las condiciones normales.</p>
                                    </article>
                                    <article>
                                        <h5>Enlace de dipolo permanente</h5>
                                        <p>Enlace secundario producido por la atracción de moléculas con dipolos permanentes. Esto es, cada molécula tiene centros de carga positiva y negativa separados por una distancia considerable.</p>
                                        <article>
                                            <h5>Enlace Puente de Hidrogeno</h5>
                                            <p>Tipo de unión dipolar permanente, que se presenta entre un átomo de hidrógeno enlazado a dos elementos muy electronegativos (O, F, N, CL) → Agua, alcoholes, polímeros.</p>
                                        </article>
                                    </article>
                    
                        <article><h2>CLASES DE MATERIALES</h2>
                            <article>
                                <h3>Metálicos:</h3> 
                                <p>Sustancias inorgánicas que están formadas por uno o más elementos metálicos. También pueden contener algunos elementos no metálicos.</p>
                                <p>Los metales tienen una estructura cristalina en la que los átomos están dispuestos ordenadamente.</p>
                                <ul>
                                    <li>Alta dureza</li>
                                    <li>resistencia</li>
                                    <li>conductividad eléctrica</li>
                                    <li>conductividad térmica</li>
                                </ul>
                                 
                            </article>

                            <article>
                                <h3>Polímeros: </h3>
                                <p>Constituidos por largas cadenas de átomos que forman macromoléculas. Se caracterizan por la repetición de una estructura básica o Monómero (unidad química repetitiva). Pueden presentar diferentes formas  y se constituyen principalmente a partir de la unión covalente de átomos de carbono.</p>
                                <p>Malos conductores térmicos y eléctricos</p>
                                <article><h4>Termoplásticos</h4> 
                                    <p>Se modifican por acción del calor. Estructuras amorfas.</p></article>
                                <article><h4>Termorígidos</h4>
                                    <p>Forma definitiva x acción del calor Estructuras ordenadas.</p></article>
                                <article><h4>Elastómeros</h4>
                                    <p>Dimensión varía repetidamente/vuelven a la forma original. Elásticos.</p></article>
                                
                            </article>

                            <article>
                                <h3>Cerámicos: </h3>
                                <ul>
                                    <li>-Son materiales inorgánicos</li>
                                    <li>-Constituídos por materiales Metálicos y no Metálicos.</li>
                                    <li>-Enlaces covalentes e iónicos.</li>
                                    <li>-Duros y frágiles. No resisten el impacto.</li>
                                    <li>-Hay óxidos en la composición.</li>
                                    <li>-Resistentes a la abrasión.</li>
                                    <li>-No son conductores de calor, ni eletricidad.</li>
                                </ul>








                            </article>
                            <article>
                                <h3>Compuestos</h3>

                            </article>
                            <article>
                                <h3>Semiconductores o Electrónicos:</h3> 
                                <ul>
                                    <li>-Alto valor unitario, pero baja producción mundial. 
                                        <ul>
                                            <li>Ej: Silicio, Paladio, Oro, Germanio, etc.</li>

                                        </ul></li>
                                    <li>-Alto costo, producción baja.</li>
                                    <li>-Incidencia en tecnología de avanzada.</li>
                                </ul>




                            </article>

                        </article>

                        <article><h2>Estructura Cristalina</h2>

                <article>
                    <h3>6 – CONDICIONES DE ESTADO METÁLICO. CONCEPTOS.</h3>
                    <p>Los átomos provienen de elementos electropositivos.<br>
                    Los átomos están cargados eléctricamente, hay iones positivos (cationes).<br>
                    Los iones no están distribuidos al azar. Hay un orden espacial predeterminado en distribución geométrica y una distancia mutua característica (parámetro de red). Forman una estructura cristalina (patrón repetitivo de ubicación de los iones).<br>
                    Los electrones producto de la ionización permanecen libres dentro de la estructura formando una nube electrónica, dando origen a la conductividad térmica y eléctrica.</p>
                </article>
                
                <article>
                    <h3>7 – MODELOS DE ESTRUCTURA CRISTALINA DE LOS METALES. CARACTERÍSTICAS.</h3>
                    <p>La estructura física de los materiales sólidos depende principalmente de la disposición de los átomos, iones o moléculas que constituyen el sólido y de las fuerzas de enlace entre ellos. Si los átomos o iones de un sólido están ordenados según una forma que se repite en el espacio, forma un sólido que posee estructura cristalina.</p>
                    <ul>
                    <li>Cúbica: 1 átomo por celda.</li>
                    <li>Cúbica centrada en el Cuerpo (base center cubic) o bcc: 2 átomos por celda.</li>
                    <li>Cúbica centrada en las Caras (face center cubic) o fcc: 4 átomos por celda.</li>
                    <li>Tetragonal simple: 1 átomo por celda.</li>
                    <li>Tetragonal centrado en el Cuerpo: 2 átomos.</li>
                    <li>Hexagonal compacta: 6 átomos.</li>
                    </ul>
                </article>
                
                <article>
                    <h3>8 – ESTABILIDAD DE LA ESTRUCTURA CRISTALINA DE LOS METALES. JUSTIFICAR</h3>
                    <p>Los iones, al estado sólido, se disponen ordenadamente según un modelo geométrico, y a una distancia mutua característica, ya que forman una estructura. Dentro de la estructura los iones se repelen entre sí, obligando a los iones interiores a permanecer estables en su posición. Los electrones producto de la ionización, permanecen libres dentro de la estructura y se encuentran en constante movimiento de atracción hacia las cargas positivas y de repulsión de las cargas negativas. Los iones, particularmente los de la capa exterior, son retenidos por la nube de electrones que los rodean estabilizando la estructura.</p>
                </article>
                
                <article>
                    <h3>9- ORIGEN DE LA RESISTENCIA MECÁNICA DE LOS MATERIALES METÁLICOS</h3>
                    <p>El origen de la resistencia mecánica de los materiales mecánicos está en el tipo de unión característica de los metales en estado puro o en aleaciones: el enlace metálico. En este tipo de unión no ocurre transferencia de electrones por la baja electronegatividad de los metales. Los átomos se encuentran tan juntos que los electrones no están asociados a un átomo en particular sino que son atraídos por los núcleos de los átomos vecinos. Los electrones constituyen una nube o gas electrónico, en la superficie metálica, que se desplaza por la estructura cristalina. Es un enlace muy fuerte entre átomos. Para romper este enlace hay que entregar mucha energía. Por eso el punto de fusión, resistencia mecánica y evaporación es elevado.</p>
                </article>

                        </article>




</main>
        <footer>
            <button onclick="window.location.href='../index.html'">Volver al Menú Principal</button>
            <p class="info">Pagina realizada para CAC Grupo 6</p>
        </footer>
</body>