<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidad 03</title>
    <link rel="icon" href="../static/img/logoutn.ico">
    <link rel="stylesheet" href="../static/css/eprincipal.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div class="flex">
            <div class="logo">
                <img  src="../static/img/logoutnsolo01.jpeg" alt="Logo utn">
                <!-- <figcaption>Logo de la UTN</figcaption> -->
            </div>
            <h1>ciencia de materiales 2024</h1>
    
    
            <div class="session">
                <div class="logo">
                    <img  src="../static/img/logoutnsolo01.jpeg" alt="Logo utn">
                    <!-- <figcaption>Logo de la UTN</figcaption> -->
                </div>
            </div>
        
        </div>    

        
    </div>
    
    <main class="docentes" >
        <h2>Unidad 4</h2>

        <h3>29 – ¿Qué se entiende por solución sólida? Tipos de solución sólida. Breve explicación de cada una</h3>
        <p>
            <strong>Solución sólida:</strong> Material sólido constituido por dos o más elementos dispersos atómicamente en una estructura cristalina de fase única, sistema homogéneo.
            El material base (solvente) es el que se encuentra en mayor proporción y establece la estructura cristalina.
        </p>
        <h4>Sustitucional:</h4>
        <p>
            Tiene la característica de que el ion del soluto va a ocupar la misma posición en la red cristalina que ocupaba el solvente.
            Para que se de, se tienen que dar las condiciones de Hume Rotery: en la medida que haya una similitud entre radios iónicos y estructura electrónica. Estos últimos generan las atracciones entre iones.
        </p>
        <h4>Intersticial:</h4>
        <p>
            El soluto ocupa las posiciones que se encuentran disponibles desde el punto de vista de la configuración teórica del cristal.
        </p>
    
        <h3>30 – Dibuje completo un diagrama de equilibrio de solubilidad total en estado líquido y sólido.</h3>
        <p>
            Es un sistema formado por dos elementos, los cuales forman una solución sólida en cualquier proporción, tanto en estado líquido como sólido.
            <!-- Aquí puedes agregar un dibujo del diagrama de equilibrio -->
        </p>
    
        <h3>31 – Concepto de difusión. Fundamento</h3>
        <p>
            La difusión es el viaje de los átomos, moléculas o iones de una sustancia a través de la microestructura de la otra.
        </p>
        <h3>32 – Dibuje completo un diagrama de equilibrio de solubilidad total en estado líquido e insolubilidad total en sólido. Fases, y líneas y puntos característicos.</h3>
    <p>
        Estos sistemas están formados por dos elementos que forman una solución sólida, aunque cada uno solidifica en forma separada.
        <!-- Aquí puedes agregar un dibujo del diagrama de equilibrio -->
    </p>

    <h3>33 – ¿Cuál es la condición microscópica de las fases en un sistema binario de insolubilidad?</h3>
    <p>
        Como los dos elementos solidifican separadamente, los granos que se forman son distintos, cada uno de los elementos forma una fase distinta y así se lo observa en el microscopio.
        Al solidificar se forman distintos microconstituyentes: Eutéctico (A+B)+A libre y Eutéctico (A+B) +B libre.
    </p>

    <h3>34 – Concepto de eutéctico. Características</h3>
    <p>
        Eutéctico: Es un componente metalográfico en el cual coexisten íntimamente cristales de distintas fases en equilibrio. En el caso de ser un material formado por dos elementos, tiene temperatura de solidificación dada y no un rango de temperaturas, por lo tanto existe una composición y temperatura eutéctica determinada.
        <!-- Continuar con las características -->
    </p>

    <h3>35 – Concepto de eutectoide. Características.</h3>
    <p>
        Es un componente metalográfico en el cual la reacción eutectoide tiene lugar completamente en estado sólido.
        <!-- Continuar con las características -->
    </p>

    <h3>36 – Defina las curvas de liquidus, solidus y solvus</h3>
    <p>
        Curva de Líquidus: Línea sobre la cual solo existe el estado líquido.
        <!-- Continuar con la definición de las otras curvas -->
    </p>

    <h3>37– Dibuje completo un diagrama de equilibrio de solubilidad total en estado líquido y solubilidad parcial en estado sólido. Fases, líneas y punto característicos.</h3>
    <p>
        Es un sistema formado por dos elementos los cuales solubilizan hasta una determinada composición (límite de solubilidad), a partir de la cual no hay más solubilidad. Suelen encontrarse varias fases correspondientes a las soluciones sólidas.
        <!-- Aquí puedes agregar un dibujo del diagrama de equilibrio -->
    </p>


    </main>
    <footer>
        <button onclick="window.location.href='../index.html'">Volver al Menú Principal</button>
        <p class="info">Pagina realizada para CAC Grupo 6</p>
    </footer>

</body>